/* Empty file for template. Remember to edit only this file and not the HTML file */


header h1 {
    text-align: center;
    ;
}

header h2 {
    text-align: center;
}

.summary{
border: 2px solid rgb(255, 255, 255);
border-radius: 30px;
padding: 20px;

}

a, a abbr{
color: #f61111d3;

}


.preamble{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 20px;
    text-align: center;

}
:root {
background-color: #CADCAE;
color: #000;
background-image: url('images/pngtree-an-impressive-garden-wallpaper-with-a-path-leading-through-colorful-flowers-picture-image_2880595.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover

}


